@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --font-asah: var(--font-asah);
  --font-urbanist: var(--font-urbanist);
  --mclaren-orange: #FF8000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-asah: var(--font-asah);
  --font-urbanist: var(--font-urbanist);
  --color-brand-orange: var(--mclaren-orange);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist);
  overflow-x: hidden;
}

/* Custom Utilities for the big text */
.outline-text {
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);
  color: transparent;
}



